<header class="border-bottom">
  <div class="container py-3">
    <div class="row">
      <div class="col-12 col-lg-3 d-flex align-items-center justify-content-between">
        <a class=" text-decoration-none text-dark fw-bold">PhoneCase(LOGO)</a>
        <button class="navbar-toggler d-lg-none" type="button" aria-label="Open menu">
        </button>
      </div>

      <div class="col-12 col-lg-6">
        <div class="input-group">
          <input type="search" class="form-control" placeholder="Search for cases, brands, models..." />
          <button class="btn btn-warning rounded-2">Search</button>
        </div>
      </div>

      <div class="col-12 col-lg-3 d-flex justify-content-lg-end gap-2">
        <button class="btn btn-primary rounded-2">Login</button>
        <button class="btn btn-primary rounded-2">Cart (0)</button>
      </div>
    </div>

  </div>
</header>
